{
  "presets": ["env", "react", "minify"],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
