{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["external-helpers", "transform-class-properties"]
}
